:root {
  --text: #c3b1e1;
  --clr-two: #a7c7e7;
  --clr-three: #c1e1c1;
  --clr-four: #f8c8dc;
  --clr-lolly-stick: #d4a276;
  --clr-white: #fffcf2;
}

body {
  box-sizing: border-box;
  background-color: var(--clr-four);
  font-family: "Press Start 2P", cursive;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.ice-cream-container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
}

.yum-yum-ice-cream {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
}

.lolly-stick {
  position: relative;
  width: 2.5rem;
  height: 8.75rem;
  border-radius: 1.25rem;
  background-color: var(--clr-lolly-stick);
}

.lolly-stick:before {
  content: "";
  position: absolute;
  width: 9.375rem;
  height: 12.5rem;
  background-color: var(--clr-white);
  border-radius: 6.25rem 6.25rem 0.625rem 0.625rem;
  top: -8.125rem;
  left: -3.438rem;
}

.lolly-stick:after {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 1.25rem;
  background-color: rgba(0, 0, 0, 0.2);
  top: 4.375rem;
}

.bubblegum {
  position: absolute;
  width: 10.063rem;
  height: 8.75rem;
  background-color: var(--clr-two);
  border-radius: 100% 100% 0 0;
  top: 2.438rem;
  left: 7.781rem;
  margin-top: 2rem;
}

.bubblegum:before {
  content: "";
  position: absolute;
  width: 23px;
  border-radius: 20px;
  box-shadow: 23px 5px #fffcf2, 46px -10px #583101, 69px -5px #fffcf2,
    92px -5px #583101, 115px 5px #fffcf2, 138px 5px #583101;
}

.bubblegum:after {
  content: "";
  position: absolute;
  border-right: 9px solid rgba(255, 255, 255, 0.5);
  border-top: 9px solid rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 60px;
  border-top-right-radius: 100%;
  top: 10px;
  left: 85px;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
}
