:root {
  --text: #c3b1e1;
  --clr-two: #a7c7e7;
  --clr-three: #c1e1c1;
  --clr-four: #f8c8dc;
}

body {
  box-sizing: border-box;
  background-color: var(--clr-four);
  font-family: "Press Start 2P", cursive;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
}
